/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid white;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  /*background: linear-gradient(90.4deg, #6AD1A4 0.21%, #A0D3BD 99.73%);*/
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
}
h2 {
  font-size: 3.2rem;
  color: black;
}
h3 {
  font-size: 2.8rem;
}
.navigation {
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 95%;
  padding-top: 2rem;
}
@media (max-width:530px) {
  .navigation {
    height: 20vh;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
}
.navigation .kickstarter-success-logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 5rem;
}
@media (max-width: 1550px) {
  .navigation .kickstarter-success-logo {
    margin-left: 0;
  }
}
@media (max-width:530px) {
  .navigation .kickstarter-success-logo {
    margin-left: -1rem;
    width: 100%;
  }
}
.navigation .kickstarter-success-logo img {
  width: 6rem;
  margin: auto;
  margin-left: 3rem;
  font-size: 4rem;
}
@media (max-width:530px) {
  .navigation .kickstarter-success-logo img {
    width: 5rem;
    align-content: center;
    margin-left: auto;
  }
}
.navigation .kickstarter-success-logo p {
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width:530px) {
  .navigation .kickstarter-success-logo p {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
.navigation nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-right: 1rem;
}
@media (max-width:530px) {
  .navigation nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }
}
.navigation nav a {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-decoration: none;
}
@media (max-width:530px) {
  .navigation nav a {
    text-align: center;
    align-items: center;
    font-size: 3rem;
  }
}
footer {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  background-color: #74d5abff;
  color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
}
.upper-portion {
  background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
}
.intro-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10rem;
  width: 100%;
  /*background-image: url("../img/newspapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    */
}
@media (max-width:530px) {
  .intro-section {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
  }
}
.intro-section .cta-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  width: 50%;
  line-height: 9rem;
  letter-spacing: 0.04em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
@media (max-width: 1550px) {
  .intro-section .cta-text {
    flex-flow: row nowrap;
    width: 30%;
  }
}
@media (max-width:530px) {
  .intro-section .cta-text {
    width: 100%;
    flex-flow: column wrap;
    line-height: 4rem;
  }
}
.intro-section .cta-text .white-line {
  border-top: 6px solid white;
  width: 30%;
  height: 0;
}
@media (max-width:530px) {
  .intro-section .cta-text .white-line {
    display: none;
  }
}
.intro-section .cta-text h1 {
  width: 80%;
  font-size: 10rem;
  padding: 1.3rem 0;
  text-align: left;
  padding-bottom: 10rem;
}
@media (max-width: 1550px) {
  .intro-section .cta-text h1 {
    font-size: 10rem;
    width: 100%;
  }
}
@media (max-width:530px) {
  .intro-section .cta-text h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
}
.intro-section img {
  width: 50%;
}
@media screen and (max-width: 1550px) and (min-width: 531px) {
  .intro-section img {
    width: 70%;
    padding-left: 15rem;
  }
}
@media (max-width:530px) {
  .intro-section img {
    width: 100%;
  }
}
.body-content {
  align-items: center;
  color: black;
  background-image: url('/img/KICK-3.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1500px;
}
.body-content .what-is-section {
  align-items: center;
  margin-left: 8rem;
  padding-bottom: 8rem;
}
@media (max-width:530px) {
  .body-content .what-is-section {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin-left: 0;
  }
}
.body-content .what-is-section h1 {
  width: 40%;
  font-size: 10rem;
  color: black;
  font-weight: 900;
  padding-top: 5rem;
}
@media (max-width:530px) {
  .body-content .what-is-section h1 {
    width: 70%;
    font-size: 3rem;
  }
}
.body-content .what-is-section p {
  width: 45%;
  font-size: 4rem;
  font-weight: 300;
  padding-top: 5rem;
}
.body-content .what-is-section p .bold {
  font-weight: 900;
}
@media (max-width:530px) {
  .body-content .what-is-section p {
    width: 100%;
    font-size: 2.2rem;
    padding: 2rem;
    text-align: center;
  }
}
.body-content .chart {
  background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width:530px) {
  .body-content .chart {
    display: none;
  }
}
.body-content .chart .chart-inner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin: 0 55px;
  align-items: center;
}
.body-content .chart .chart-inner-content div {
  width: 78.5%;
  color: white;
}
.body-content .chart .chart-inner-content div h2 {
  font-size: 8rem;
  font-weight: 900;
  margin-bottom: 25px;
  color: white;
}
.body-content .chart .chart-inner-content div p {
  margin-bottom: 25px;
  font-size: 4rem;
  font-weight: 300;
}
.body-content .chart .chart-inner-content iframe {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.85);
  background: white;
}
.body-content .green-1 {
  background-color: #48c891ff;
}
.body-content .green-2 {
  background-color: #05ce78ff;
}
.body-content .green-3 {
  background-color: #74d5abff;
}
.body-content .green-3b {
  background-color: #74d5abff;
}
.body-content .green-4 {
  background-color: #abd7c4ff;
}
.body-content .kickstarter-stats-container {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  .body-content .kickstarter-stats-container {
    width: 90%;
  }
}
@media (max-width:530px) {
  .body-content .kickstarter-stats-container {
    display: none;
  }
}
.body-content .kickstarter-stats-container .kickstarter-stats-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  margin-bottom: 5rem;
  line-height: 100%;
}
.body-content .kickstarter-stats-container .kickstarter-stats-top p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 400px;
  font-size: 4rem;
  align-items: center;
  padding: 3rem;
  text-align: center;
  font-weight: 400;
  line-height: 5rem;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.85);
}
@media (max-width: 1550px) {
  .body-content .kickstarter-stats-container .kickstarter-stats-top p {
    width: 30%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
.body-content .kickstarter-stats-container .kickstarter-stats-top p b {
  font-size: 6.5rem;
  font-weight: 500;
  margin: 4rem 0;
  font-family: 'Prata', serif;
}
.body-content .kickstarter-stats-container .kickstarter-stats-bot {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  margin-bottom: 5rem;
  line-height: 100%;
}
.body-content .kickstarter-stats-container .kickstarter-stats-bot p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 400px;
  font-size: 3.8rem;
  align-items: center;
  padding: 3rem;
  text-align: center;
  font-weight: 400;
  line-height: 5rem;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.85);
}
@media (max-width: 1550px) {
  .body-content .kickstarter-stats-container .kickstarter-stats-bot p {
    width: 30%;
    font-size: 3rem;
    line-height: 4rem;
  }
}
.body-content .kickstarter-stats-container .kickstarter-stats-bot p b {
  font-size: 6.5rem;
  font-weight: 500;
  margin: 2.5rem 0;
  line-height: 6rem;
  font-family: 'Prata', serif;
}
@media (max-width: 1550px) {
  .body-content .kickstarter-stats-container .kickstarter-stats-bot p b {
    font-size: 5.5rem;
  }
}
.body-content .bottom-portion {
  margin: 0 8rem;
  padding-top: 7.5rem;
}
@media (max-width:530px) {
  .body-content .bottom-portion {
    margin: 0;
  }
}
.body-content .bottom-portion .green-line {
  border-top: 6px solid #74d5abff;
  width: 250px;
  height: 0;
}
@media (max-width:530px) {
  .body-content .bottom-portion .green-line {
    width: 100%;
  }
}
.body-content .bottom-portion .natural-language {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 8rem;
  width: 100%;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .bottom-portion .natural-language {
    padding: 0;
    flex-direction: column;
  }
}
.body-content .bottom-portion .natural-language img {
  width: 45%;
  border-radius: 3px;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.85);
}
@media (max-width:530px) {
  .body-content .bottom-portion .natural-language img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content .bottom-portion .natural-language .natural-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 55px;
}
@media (max-width:530px) {
  .body-content .bottom-portion .natural-language .natural-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.body-content .bottom-portion .natural-language .natural-text h2 {
  font-size: 6rem;
  padding-bottom: 2rem;
  color: black;
  font-weight: 900;
  line-height: 6rem;
}
@media (max-width:530px) {
  .body-content .bottom-portion .natural-language .natural-text h2 {
    line-height: 6rem;
    font-size: 4rem;
    width: 100%;
  }
}
.body-content .bottom-portion .natural-language .natural-text p {
  font-weight: 300;
  font-size: 3rem;
}
@media (max-width:530px) {
  .body-content .bottom-portion .natural-language .natural-text p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.body-content .bottom-portion .machine-learning {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 8rem;
  justify-content: space-between;
  width: 100%;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .bottom-portion .machine-learning {
    padding: 0;
    flex-direction: column-reverse;
  }
}
.body-content .bottom-portion .machine-learning img {
  width: 45%;
  border-radius: 3px;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.85);
}
@media (max-width:530px) {
  .body-content .bottom-portion .machine-learning img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content .bottom-portion .machine-learning .machine-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 55px;
}
@media (max-width:530px) {
  .body-content .bottom-portion .machine-learning .machine-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
}
.body-content .bottom-portion .machine-learning .machine-text h2 {
  font-size: 6rem;
  padding-bottom: 2rem;
  color: black;
  font-weight: 900;
  line-height: 10rem;
}
@media (max-width:530px) {
  .body-content .bottom-portion .machine-learning .machine-text h2 {
    line-height: 1rem;
    font-size: 4rem;
    width: 100%;
    padding-top: 3rem;
  }
}
.body-content .bottom-portion .machine-learning .machine-text p {
  font-weight: 300;
  font-size: 3rem;
  text-align: right;
}
@media (max-width:530px) {
  .body-content .bottom-portion .machine-learning .machine-text p {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
  }
}
.body-content .bottom-portion .data-analysis {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 8rem;
  width: 100%;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .bottom-portion .data-analysis {
    padding: 0;
    flex-direction: column;
  }
}
.body-content .bottom-portion .data-analysis img {
  width: 45%;
  border-radius: 3px;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.85);
}
@media (max-width:530px) {
  .body-content .bottom-portion .data-analysis img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 4rem;
  }
}
.body-content .bottom-portion .data-analysis .data-text {
  width: 45%;
  padding-top: 55px;
}
@media (max-width:530px) {
  .body-content .bottom-portion .data-analysis .data-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.body-content .bottom-portion .data-analysis .data-text h2 {
  font-size: 6rem;
  padding-bottom: 2rem;
  color: black;
  font-weight: 900;
  line-height: 10rem;
}
@media (max-width:530px) {
  .body-content .bottom-portion .data-analysis .data-text h2 {
    line-height: 1rem;
    font-size: 4rem;
    width: 100%;
    padding-top: 3rem;
  }
}
.body-content .bottom-portion .data-analysis .data-text p {
  font-size: 3rem;
  font-weight: 300;
}
@media (max-width:530px) {
  .body-content .bottom-portion .data-analysis .data-text p {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
  }
}
.about-upper-portion {
  background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
  padding-bottom: 10rem;
}
@media (max-width:530px) {
  .about-upper-portion {
    padding-bottom: 4rem;
    width: 100%;
  }
}
.about-upper-portion .about-us {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
}
@media (max-width:530px) {
  .about-upper-portion .about-us {
    width: 100%;
    padding: 4rem;
  }
}
.about-upper-portion .about-us .about-info {
  width: 40%;
  line-height: 5rem;
}
@media (max-width:530px) {
  .about-upper-portion .about-us .about-info {
    width: 100%;
  }
}
.about-upper-portion .about-us .about-info h1 {
  text-align: center;
  font-size: 6rem;
  padding-bottom: 2rem;
}
@media (max-width:530px) {
  .about-upper-portion .about-us .about-info h1 {
    font-size: 4rem;
    padding-top: 2rem;
  }
}
.about-upper-portion .about-us .about-info p {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}
@media (max-width:530px) {
  .about-upper-portion .about-us .about-info p {
    font-size: 2rem;
  }
}
.meet-the-team {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem 0;
  font-size: 3rem;
}
@media (max-width:530px) {
  .meet-the-team {
    padding: 3rem;
  }
}
.meet-the-team h2 {
  text-align: center;
  font-size: 2.5rem;
}
.team-profiles {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 1rem 0;
}
.team-profiles .team-profile {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 8rem;
  border-radius: 6px;
  background: whitesmoke;
  color: #6e6e6e;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
  margin: 1rem;
}
@media (max-width:530px) {
  .team-profiles .team-profile {
    padding: 4rem;
  }
}
.team-profiles .team-profile .team-profile-img {
  width: 150px;
  height: 150px;
  justify-self: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #a7a6a6;
}
.team-profiles .team-profile .team-profile-img img {
  width: 100%;
  border-radius: 50%;
  align-self: center;
  filter: grayscale(40%);
}
.team-profiles .team-profile .team-role {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.team-profiles .team-profile .github-link {
  align-self: center;
}
.team-profiles .team-profile .github-link i {
  font-size: 3rem;
  color: #74d5abff;
}
