/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid white;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  /*background: linear-gradient(90.4deg, #6AD1A4 0.21%, #A0D3BD 99.73%);*/
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
}
h2 {
  font-size: 3.2rem;
  color: black;
}
h3 {
  font-size: 2.8rem;
}
.navigation {
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 90%;
}
@media (max-width:530px) {
  .navigation {
    height: 15vh;
    display: flex;
  }
}
.navigation .kickstarter-success-logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.navigation .kickstarter-success-logo img {
  width: 70px;
  margin: auto;
  margin-left: 3rem;
  font-size: 1.8rem;
}
@media (max-width:530px) {
  .navigation .kickstarter-success-logo img {
    width: 12%;
    align-content: center;
  }
}
.navigation .kickstarter-success-logo p {
  font-size: 3rem;
  font-weight: 400;
}
.navigation nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-right: 1rem;
}
@media (max-width:530px) {
  .navigation nav {
    margin: auto;
    width: 75%;
  }
}
.navigation nav a {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}
@media (max-width:530px) {
  .navigation nav a {
    text-align: center;
    font-size: 2rem;
  }
}
footer {
  margin: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  background-color: #74d5abff;
  color: white;
}
.upper-portion {
  background: linear-gradient(90.4deg, #6AD1A4 0.21%, #A0D3BD 99.73%);
  width: 100vw;
  height: 100vh;
}
.intro-section {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10rem;
  /*background-image: url("../img/newspapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    */
}
@media (max-width:530px) {
  .intro-section {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
  }
}
.intro-section .cta-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  width: 691px;
  line-height: 96px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
@media (max-width:530px) {
  .intro-section .cta-text {
    width: 100%;
    flex-flow: column wrap;
  }
}
.intro-section .cta-text .white-line {
  border-top: 4px solid white;
  width: 149px;
  height: 0;
}
.intro-section .cta-text h1 {
  width: 80%;
  font-size: 80px;
  padding: 1.3rem 0;
  text-align: left;
}
@media (max-width:530px) {
  .intro-section .cta-text h1 {
    font-size: 3rem;
    text-align: center;
  }
}
.intro-section .cta-text button {
  margin: 0 auto;
  padding: 1.3rem;
  color: white;
  background: #F19D28;
  border-radius: 0.7rem;
}
@media (max-width:530px) {
  .intro-section .cta-text button {
    width: 100%;
  }
}
.intro-section img {
  width: 45%;
  margin: 0 auto;
}
@media (max-width:530px) {
  .intro-section img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content {
  align-items: center;
  color: black;
  background-image: url('/img/KICK-3.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1500px;
}
.body-content .what-is-section {
  align-items: center;
  margin-left: 8rem;
}
@media (max-width:530px) {
  .body-content .what-is-section {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
}
.body-content .what-is-section h1 {
  width: 40%;
  font-size: 10rem;
  color: black;
  font-weight: 900;
  padding-top: 5rem;
}
@media (max-width:530px) {
  .body-content .what-is-section h1 {
    width: 70%;
    font-size: 3rem;
  }
}
.body-content .what-is-section p {
  width: 45%;
  font-size: 4rem;
  font-weight: 300;
  padding-top: 5rem;
}
.body-content .what-is-section p .bold {
  font-weight: 900;
}
@media (max-width:530px) {
  .body-content .what-is-section p {
    width: 100%;
    font-size: 2.2rem;
    padding: 2rem;
    text-align: center;
    border: 1px solid white;
  }
}
.body-content .kickstarter-stats-container {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
}
.body-content .kickstarter-stats-container .kickstarter-stats-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5rem;
}
.body-content .kickstarter-stats-container .kickstarter-stats-top p {
  width: 50%;
  height: 50%;
}
.body-content .kickstarter-stats-container .kickstarter-stats-bot {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5rem;
}
.body-content .kickstarter-stats-container .kickstarter-stats-bot p {
  width: 50%;
  height: 50%;
}
.body-content .natural-language {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 5rem;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .natural-language {
    padding: 0;
  }
}
.body-content .natural-language img {
  width: 30%;
}
@media (max-width:530px) {
  .body-content .natural-language img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content .natural-language .natural-text {
  margin: 0 auto;
  width: 40%;
}
@media (max-width:530px) {
  .body-content .natural-language .natural-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
}
.body-content .natural-language .natural-text h2 {
  padding-bottom: 2rem;
  color: black;
}
.body-content .natural-language .natural-text p {
  font-size: 2rem;
  text-align: left;
  font-weight: lighter;
}
.body-content .machine-learning {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5rem;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .machine-learning {
    padding: 0;
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
}
.body-content .machine-learning img {
  width: 30%;
}
@media (max-width:530px) {
  .body-content .machine-learning img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content .machine-learning .machine-text {
  margin: 0 auto;
  width: 40%;
}
@media (max-width:530px) {
  .body-content .machine-learning .machine-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
}
.body-content .machine-learning .machine-text h2 {
  padding-bottom: 2rem;
  color: black;
}
.body-content .machine-learning .machine-text p {
  font-size: 2rem;
  text-align: left;
  font-weight: lighter;
}
.body-content .data-analysis {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5rem;
  border: 1px solid white;
}
@media (max-width:530px) {
  .body-content .data-analysis {
    padding: 0;
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
}
.body-content .data-analysis img {
  width: 30%;
}
@media (max-width:530px) {
  .body-content .data-analysis img {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
}
.body-content .data-analysis .data-text {
  margin: 0 auto;
  width: 40%;
}
@media (max-width:530px) {
  .body-content .data-analysis .data-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
}
.body-content .data-analysis .data-text h2 {
  padding-bottom: 2rem;
}
.body-content .data-analysis .data-text p {
  font-size: 2rem;
  text-align: left;
  font-weight: lighter;
}
.meet-the-team {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem 0;
  font-size: 3rem;
  border: 1px solid white;
}
.meet-the-team h2 {
  text-align: center;
  font-size: 2.5rem;
}
.about-us {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
@media (max-width:530px) {
  .about-us {
    width: 100%;
  }
}
.about-us .about-info h1 {
  text-align: center;
  font-size: 5rem;
}
@media (max-width:530px) {
  .about-us .about-info h1 {
    font-size: 3.8rem;
  }
}
.about-us .about-info p {
  font-size: 2rem;
  text-align: center;
}
@media (max-width:530px) {
  .about-us .about-info p {
    font-size: 1.7rem;
  }
}
.team-profiles {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 1rem 0;
}
.team-profiles .team-profile {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 8rem;
  border-radius: 6px;
  background: whitesmoke;
  color: #6e6e6e;
  box-shadow: 3px 3px 3px #ededed;
  margin: 1rem;
  border: 1px solid black;
}
@media (max-width:530px) {
  .team-profiles .team-profile {
    padding: 4rem;
  }
}
.team-profiles .team-profile .team-profile-img {
  width: 150px;
  height: 150px;
  justify-self: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #a7a6a6;
}
.team-profiles .team-profile .team-profile-img img {
  width: 100%;
  border-radius: 50%;
  align-self: center;
  filter: grayscale(40%);
}
.team-profiles .team-profile .team-role {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.team-profiles .team-profile .github-link {
  align-self: center;
}
.team-profiles .team-profile .github-link i {
  font-size: 3rem;
  color: #74d5abff;
}
