
.about-upper-portion{
    background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
    padding-bottom: 10rem;
    
    @media @mobile{
        padding-bottom: 8rem;
    }
    .about-us{
        display:flex;
        flex-flow: column wrap;
        align-items: center;
        margin:0 auto;
        padding: 5rem;

        @media @mobile{
            width: 100%;
        }
        .about-info{
            width: 40%;
            line-height: 5rem;
            @media @mobile{
                width: 100%;
            }
            h1{
                text-align: center;
                font-size: 6rem;
                padding-bottom: 2rem;
                @media @mobile{
                    font-size: 5rem;
                    padding-top: 2rem;
                }
            }
    
            p{
                font-size: 3rem;
                text-align: center;
                font-weight: 400;

                @media @mobile{
                    font-size:2.5rem;
                }
            }
        }
    }
}

.meet-the-team{
    margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 2rem 0;
    font-size: 3rem;

    @media @mobile{
        padding: 3rem;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
}

.team-profiles{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem 0;


    

    .team-profile{
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        padding: 8rem;
        border-radius: 6px;
        background: whitesmoke;
        color: #6e6e6e;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.85);
        margin: 1rem;
        @media @mobile{
            padding: 4rem;
        }

        .team-profile-img{
            width: 150px;
            height: 150px;
            justify-self: center;
            border-radius: 50%;
            box-shadow: 2px 2px 2px #a7a6a6;
                
            img{
                    width: 100%;
                    border-radius: 50%;
                    align-self: center;
                    filter: grayscale(40%);
            }
        }

        .team-role{
            padding: 2rem;
            text-align: center;
            font-size: 1.5rem;
        }
        .github-link{
            align-self: center;
            i{
                font-size: 3rem;
                color: @main-bg-color;
            }
        }
        }
        
    }
