.intro-section{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10rem;
    /*background-image: url("../img/newspapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    */
    @media @mobile{
        width:100%;
        height: 30vh;
        display:flex;
        flex-flow: column wrap;
        padding: 0;
    }

    border: 1px solid black;
    .cta-text{
        max-width: 60%;
        margin: 0 auto;
        margin-left: -8rem;
        border: 1px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-align: center;

        @media @mobile{
            width: 100%;
            margin-left: 0;
        }
        h1{
            max-width: 70%;
            margin: 0 auto;
            font-size: 7rem;
            font-weight: bold;
            padding:1.3rem 0;
            border:1px solid white;
            text-align: center;

            @media @mobile{
                max-width: 90%;
                font-size:5rem;
            }
        }


        button{
            width: 50%;
            margin: 0 auto;
            padding: 1.3rem;
            color:@main-font-color;
            background: @medium-orange;
            border-radius: .7rem;

            @media @mobile{
                width: 100%;
            }
        }

    }

    img{
        width: 35%;
        margin: 0 auto;
    }
}

.body-content{
    margin:0 auto;
    width: 80%;
    align-items: center;
    border: 1px solid white;

    .what-is-section{
        margin: 0;
        width: 80%;
        align-items: left;

        @media @mobile{ 
            width: 100%;
            text-align: center;
        }

        h1{
            width: 50%;
            font-size: 7rem;
        }
        border: 1px solid white;
        p{
            width: 50%;
            font-size: 2.5rem;

            @media @mobile{
                max-width: 90%;
            }
        }
    }

}

.about-us{
    margin:0 auto;
    max-width: 50%;
}

.meet-the-team{
    margin: 0 auto;
    width: 42%;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 2rem 0;

    @media @mobile{
        width: 100%;
    }

    border: 1px solid white;
    .title{
        text-align: center;
        font-size: 2.5rem;
    }
}

.team-profiles{
    display: flex;
    flex-wrap: wrap;
    padding: .1rem 0;
    

    .team-profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        padding: 2rem;
        border-radius: 6px;
        background: whitesmoke;
        color: #6e6e6e;
        box-shadow: 2px 2px 2px #ededed;
        margin: 1rem;

        .team-profile-img{
            width: 150px;
            height: 150px;
            justify-self: center;
            border-radius: 50%;
            box-shadow: 2px 2px 2px #a7a6a6;
                
            img{
                    width: 100%;
                    border-radius: 50%;
                    align-self: center;
                    filter: grayscale(40%);
            }
        }

        .team-role{
            padding: 2rem;
            text-align: center;
            font-size: 1.5rem;
        }
        .github-link{
            align-self: center;
            i{
                font-size: 3rem;
                color: @main-bg-color;
            }
        }
        }
        

}