.intro-section{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10rem;
    /*background-image: url("../img/newspapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    */
    border:1px solid white;
    @media @mobile{
        display:flex;
        flex-flow: column wrap;
        padding: 0;
    }

    .cta-text{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border:1px solid white;
        @media @mobile{
            width: 100%;
            flex-flow: column wrap;
        }
        h1{
            margin: 0 auto;
            font-size: 7rem;
            font-weight: bolder;
            padding:1.3rem 0;
            border:1px solid white;
            text-align: left;

            @media @mobile{
                font-size:3rem;
                text-align: center;
            }
        }


        button{
            margin: 0 auto;
            padding: 1.3rem;
            color:@main-font-color;
            background: @medium-orange;
            border-radius: .7rem;

            @media @mobile{
                width: 100%;
            }
        }

    }

    img{
        width: 30%;
        margin: 0 auto;

        @media @mobile{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
        }
    }
}

.body-content{
    align-items: center;
    border: 1px solid white;
    color:@white-smoke;
    .what-is-section{
        align-items: center;

        @media @mobile{ 
            display:flex;
            flex-flow: column wrap;
            text-align: center;
        }

        h1{
            width: 50%;
            font-size: 7rem;

            @media @mobile{
                width: 70%;
                font-size:3rem;
            }
        }
        border: 1px solid white;
        p{
            width: 50%;
            font-size: 2.5rem;
            
            @media @mobile{
                width: 100%;
                font-size: 2.2rem;
                padding: 2rem;
                text-align: center;

                border:1px solid white;
            }
        }
    }


    .natural-language{
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 5rem;

        border:1px solid white;
        @media @mobile{
            padding: 0;
        }
        img{
            width: 30%;

            @media @mobile{
                width: 100%;
                display: flex;
                flex-flow: column wrap;
            }
        }

        .natural-text{
            margin: 0 auto;
            width: 40%;

            @media @mobile{
                width:100%;
                align-items: center;
                text-align: center;
                padding-top: 2rem;
            }
            h2{
                padding-bottom: 2rem;
            }
            p{
                font-size: 2rem;
                text-align: left;
                font-weight: lighter;
            }
        }
    }

    .machine-learning{
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 5rem;

        border:1px solid white;
        @media @mobile{
            padding: 0;
            flex-direction: column-reverse;
            padding-top:3rem;
        }
        img{
            width: 30%;

            @media @mobile{
                width: 100%;
                display: flex;
                flex-flow: column wrap;
            }
        }

        .machine-text{
            margin: 0 auto;
            width: 40%;

            @media @mobile{
                width:100%;
                align-items: center;
                text-align: center;
                padding-top: 2rem;
            }
            h2{
                padding-bottom: 2rem;
            }
            p{
                font-size: 2rem;
                text-align: left;
                font-weight: lighter;
            }
        }
    }

    .data-analysis{
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 5rem;

        border:1px solid white;
        @media @mobile{
            padding: 0;
            flex-direction: column-reverse;
            padding-top:3rem;
        }

        img{
            width: 30%;
            @media @mobile{
                width: 100%;
                display: flex;
                flex-flow: column wrap;
            }
        }

        .data-text{
            margin: 0 auto;
            width: 40%;

            @media @mobile{
                width:100%;
                align-items: center;
                text-align: center;
                padding-top: 2rem;
            h2{
                padding-bottom: 2rem;
            }
            p{
                font-size: 2rem;
                text-align: left;
                font-weight: lighter;
            }
        }
    }
}

}