.upper-portion{
    background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.85);
}

.intro-section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10rem;
    width: 100%;
    /*background-image: url("../img/newspapers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    */

    @media @mobile{
        display:flex;
        flex-flow: column wrap;
        padding: 0;
        padding: 1rem;
    }

    .cta-text{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 800;
        width: 50%;
        line-height: 96px;
        letter-spacing: 0.04em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;


        @media @mobile{
            width: 100%;
            flex-flow: column wrap;
            line-height: 4rem;
        }

        .white-line{
            border-top: 6px solid white;
            width: 200px;
            height: 0;

            @media @mobile{
                display: none;
            }
        }
        h1{
            width: 80%;
            font-size: 85px;
            padding:1.3rem 0;
            text-align: left;

            @media @mobile{
                width: 100%;
                font-size:3rem;
                text-align: center;
            }
        }


        // button{
        //     margin: 0 auto;
        //     padding: 1.3rem;
        //     color:@main-font-color;
        //     background: @medium-orange;
        //     border-radius: .7rem;

        //     @media @mobile{
        //         width: 100%;
        //     }
        // }

    }

    img{
        width: 50%;


        @media @mobile{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            padding-top: 2rem;
        }
    }
}

.body-content{
    align-items: center;
    color:black;
    background-image:url('/img/KICK-3.png'); 
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1500px;

    .what-is-section{
        align-items: center;
        margin-left: 8rem;
        padding-bottom: 8rem;

        @media @mobile{ 
            display:flex;
            flex-flow: column wrap;
            text-align: center;
            margin-left: 0;
        }

        h1{
            width: 40%;
            font-size: 10rem;
            color: black;
            font-weight: 900;
            padding-top: 5rem;

            @media @mobile{
                width: 70%;
                font-size:3rem;
            }
        }

        p{
            width: 45%;
            font-size: 4rem;
            font-weight: 300;
            padding-top: 5rem;

            
            .bold{
                font-weight: 900
            }
            @media @mobile{
                width: 100%;
                font-size: 2.2rem;
                padding: 2rem;
                text-align: center;

            }
        }
    }

    .chart{
        background: linear-gradient(90.4deg, #74d5ab 0.21%, #abd7c4 99.73%);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media @mobile{
            display: none;
        }

        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50)
        .chart-inner-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80%;
            margin: 0 55px;
            align-items: center;
            

            div{
                width: 78.5%;
                color: white;
                h2{
                    font-size: 8rem;
                    font-weight: 900;
                    margin-bottom: 25px;
                    color: white;
                }

                p{
                    margin-bottom: 25px;
                    font-size: 4rem;
                    font-weight: 300;
                }
            }

            iframe{
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.85);
                background: white;
            }
        }

    }

    .green-1{
        background-color:#48c891ff; 

    }

    .green-2{
        background-color: #05ce78ff;

    }

    .green-3{
        background-color: #74d5abff;
    }

    .green-3b{
        background-color: #74d5abff;

        p{
            line-height: 5.5rem;
        }
    }

    .green-4{
        background-color: #abd7c4ff;
    }

    .kickstarter-stats-container{
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
        width: 80%;
        margin: 0 auto;


        @media @mobile{
            display: none;
        }
        .kickstarter-stats-top{
            display:flex;
            flex-direction: row;
            width: 100%;
            height: 400px;
            // padding: 5rem;
            margin-bottom: 5rem;


            p{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 25%;
                height: 400px;
                font-size: 4rem;
                align-items: center;
                padding: 30px;
                text-align: center;
                font-weight: 400;
                line-height: 5.5rem;
                box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.85);
                

                b{
                    font-size: 7rem;
                    font-weight: 500;
                    margin: 40px 0;
                    font-family: 'Prata', serif;
                }
            }
        }

        .kickstarter-stats-bot{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 400px;
            // padding: 5rem;
            p{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 25%;
                height: 400px;
                font-size: 4rem;
                align-items: center;
                padding: 30px;
                text-align: center;
                font-weight: 400;
                line-height: 5.5rem;
                box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.85);

                b{
                    font-size: 7rem;
                    font-weight: 500;
                    margin: 40px 0;
                    font-family: 'Prata', serif;
                }
            }
        }
    }

    .bottom-portion{
        margin: 0 8rem;
        padding-top: 7.5rem;

        @media @mobile{
            margin: 0;
        }

        .green-line{
            border-top: 6px solid @light-muted-green;
            width: 250px;
            height: 0;

            @media @mobile{
                width: 100%;
            }
        }

        .natural-language{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 8rem;
            width: 100%;
    
            border:1px solid white;
            @media @mobile{
                padding: 0;
                flex-direction: column;
            }

            img{
                width: 45%;
                border-radius: 3px;
                box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.85);
                @media @mobile{
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                }
            }
        
            .natural-text{
                width: 45%;
                padding-top: 55px;
                @media @mobile{
                    width:100%;
                    align-items: center;
                    text-align: center;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }


                h2{
                    font-size: 6rem;
                    padding-bottom: 2rem;
                    color: black;
                    font-weight: 900;
                    line-height: 10rem;

                    @media @mobile{
                        line-height: 6rem;
                        font-size: 4rem;
                        width: 100%;
                    }
                }
                p{
                    font-weight: 300;
                    font-size: 3rem;

                    @media @mobile{
                        font-size: 2rem;
                        text-align: center;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    
        .machine-learning{
            display: flex;
            flex-flow: row wrap;
            padding-bottom: 8rem;
            justify-content: space-between;
            width: 100%;
    
            border:1px solid white;
            @media @mobile{
                padding: 0;
                flex-direction: column-reverse;
            }
            img{
                width: 45%;
                border-radius: 3px;
                box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.85);
                @media @mobile{
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                }
            }
    
            .machine-text{
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-top: 55px;
                @media @mobile{
                    width:100%;
                    align-items: center;
                    text-align: center;
                    padding-top: 2rem;
                }
                h2{
                    font-size: 6rem;
                    padding-bottom: 2rem;
                    color: black;
                    font-weight: 900;
                    line-height: 10rem;

                    @media @mobile{
                        line-height: 1rem;
                        font-size: 4rem;
                        width: 100%;
                        padding-top: 3rem;
                    }
                }
                p{
                    font-weight: 300;
                    font-size: 3rem;
                    text-align: right;

                    @media @mobile{
                        font-size: 2rem;
                        text-align: center;
                        padding-top: 2rem;
                    }
                }
            }
        }

        .data-analysis{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-bottom: 8rem;
            width: 100%;
    
            border:1px solid white;
            @media @mobile{
                padding: 0;
                flex-direction: column
            }
    
            img{
                width: 45%;
                border-radius: 3px;
                box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.85);
                @media @mobile{
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    padding-top: 4rem;
                }
            }
    
            .data-text{
                width: 45%;
                
                padding-top: 55px;
                @media @mobile{
                    width:100%;
                    align-items: center;
                    text-align: center;
                    padding-top: 2rem;
                    padding-bottom: 3rem;
                }
    
                h2{
                    font-size: 6rem;
                    padding-bottom: 2rem;
                    color: black;
                    font-weight: 900;
                    line-height: 10rem;

                    @media @mobile{
                        line-height: 1rem;
                        font-size: 4rem;
                        width: 100%;
                        padding-top: 3rem;

                    }
                }
                p{
                    font-size: 3rem;
                    font-weight: 300;

                    @media @mobile{
                        font-size: 2rem;
                        text-align: center;
                        padding-top: 2rem;
                    }
                }
            }
    }
    }




}