.navigation{
    width: 100%;
    margin:  0 auto;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

    border: 1px solid white;

    @media @mobile{
        height: 15vh;
        width:100%;
        display:flex;
        flex-flow: column wrap;
    }

    img{
        width: 5%;
        margin: auto;
        margin-left: 3rem;
        font-size: 1.8rem;
        border: 1px solid white;
        text-align: center;
    }

    nav{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        width: 30%;
        margin-right: 1rem;

        @media @mobile{
            margin: 0 auto;
            width: 80%;
            flex-flow: row wrap;
            text-align: center;
        }

        a{
            color: @white-smoke;
            text-decoration: none;
            font-size: 1.8rem;
            @media @mobile{
                text-align: center;
            }
        }
    }
}