// variables

// Color Pointers
@main-font-color: @white-smoke;
@main-bg-color: @light-muted-green;
@header-font-color: @white-smoke;


// Color Vars
@white-smoke: white;
@dark-blue: #19354C;
@medium-orange: #F19D28;

@black:#000000;

@green-1: #05ce78ff;
@green-2: #abd7c4ff;
@green-3: #9bcfc9ff;

@light-muted-green: #74d5abff;


@mobile: ~'(max-width:530px)';

@laptop: ~'(max-width: 1550px)';
    

//Fonts
@lato: 'Lato', sans-serif;