// variables

// Color Pointers
@main-font-color: @white-smoke;
@main-bg-color: @dark-blue;
@header-font-color: @medium-orange;

// Color Vars
@white-smoke: #F6F5F5;
@dark-blue: #19354C;
@medium-orange: #F19D28;

@mobile: ~'(max-width:530px)';